.item {
  &-frontground {
    &:hover {
      & + .item-background {
        display: flex;
        letter-spacing: 0.25rem;
        opacity: 0.1;
      }
    }
  }
}
.nav__menu {
  .line {
    --foreground: #121331;
    position: relative;
    background-color: transparent;
    height: 2px;
    width: 24px;
    display: block;
    margin: 6px;
    border-radius: 20px;
    &::before {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      background-color: #121331;
      transition: all 0.5s ease;
    }
    &--st {
      &::before {
        width: 50%;
      }
    }
    &--nd {
      &::before {
        width: 75%;
      }
    }
    &--rd {
      &::before {
        width: 100%;
      }
    }
  }
  &.close {
    .line {
      &--st {
        &::before {
          width: 0;
          opacity: 0;
        }
      }
      &--nd {
        &::before {
          width: 100%;
          rotate: 45deg;
        }
      }
      &--rd {
        &::before {
          margin-top: -16px;
          width: 100%;
          rotate: -35deg;
        }
      }
    }
  }
}
.nav__list {
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  @media screen and (max-width: 640px) {
    transform: translateY(100%);
    opacity: 0;
  }
  &.closed {
    transform: none;
    opacity: 1;
  }
}

@keyframes type-text {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-right: 2px solid #fff;
  }
  50% {
    border-right: 2px solid #fff0;
  }
}

.typing-text {
  max-width: 560px;
  overflow: hidden;
  white-space: nowrap;
  border-right: solid 2px white;
  animation: type-text 4s steps(24) infinite, blink 1s infinite;
}

.home-icon {
  &:hover {
    span {
      display: block;
    }
  }
  span {
    display: none;
  }
}

.highlight-box {
  box-shadow: #52bf9140 0px 25px 50px -12px;
}

@keyframes rotate {
  0%,
  100% {
    rotate: -15deg;
  }
  50% {
    rotate: 15deg;
  }
}
.logo-card {
  &:hover > .hey {
    opacity: 1;
    animation: rotate 1s infinite;
  }
}

.home {
  &__data {
    // order: 2;
  }
  &__social {
    // order: 0;
  }
  &__img {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: profile__animate 8s ease-in-out infinite 1s;
  }
}

@keyframes profile__animate {
  0% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  }
}

.about {
  &__img {
    border-radius: 24px;
  }
}

.project {
  &-card {
    margin: -16px;
    padding: 24px;
    overflow: hidden;
    border-radius: 0.25em;
    &:hover {
      .project {
        &-background {
          height: 1000px;
          width: 1000px;
          background-color: #4198739f;
          border-radius: 0;
          height: 100px;
          margin: 0;
        }
        &-name {
          color: #fff;
        }
      }
    }
  }
  &-background {
    transition: all 0.5s ease;
    position: absolute;
    height: 0;
    width: 0;
    margin: 40px 0 0 40px;
    top: 0;
    left: 0;
  }
}
